* {
    box-sizing: border-box;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h1 {
    text-align: center;
    text-transform: uppercase;
}
.outerbox{
    width: 600px;
    height: 400px;
    border-radius: 16px;
    background: greenyellow;
  padding: 40px;
  margin: 0 auto;
  box-shadow: 3px 3px 10px black;
}
.innerbox{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 1fr);
    height:300px ;
    width: 500px;
    border: 16px;
    background: wheat;
    gap: 16px;
}
.box{
    height:auto;
    width: auto;
    border: 16px;
    margin: 5px;
    padding: 5px;
  
}
.box1 {
  background-color: #a473f9;
  grid-column-start: span 2;
}

.box2 {
  background-color: #465765;
}

.box3 {
  background-color: #ffffff;
  grid-row-start: span 2;
}

.box4 {
  background-color: #ffffff;
  height: auto;
  width: auto;
}

.box5 {
  background-color: #191f2c;
  grid-column-start: span 2;
}
.box3,
.box4 {
  color: black;
}