* {
    box-sizing: border-box;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h1 {
    text-align: center;
}

.outerbox {
    width: 800px;
    height: 600px;
    border: 1rem;
    margin: 0 auto;
    padding: 40px;
    box-shadow: 3px 3px 15px black;
    background: lightcoral;
    border-radius: 16px;
}

.innerbox {
    width: 700px;
    height: 500px;
    border: 1rem;
  
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;
    background: lightcyan;

}

.box {
    width: auto;
    height: auto;
    border: 1rem;
    margin: 5px;
    padding: 5px;

}

.box1 {
    background-image:url(../ChatGPT\ Image\ Jul\ 3\,\ 2026\,\ 05_26_15\ PM.png);
    background-size: cover;
    grid-row-start: span 2;
    grid-column-start: span 2;
}
.box2{
    background: red;
}
.box3 {
  background-color: #b90dad;

}

.box4 {
  background-color: #b5e618;
}

.box5 {
  background-color: #191f2c;
